@import url("https://fonts.googleapis.com/css?family=Rubik:400,600,700,800&subset=hebrew");

.sapUiMedia-Std-Desktop .sapUShellApplicationContainer.sapUShellApplicationContainerLimitedWidth {
    width: 105rem !important;
}

.paddingLeftRight1 {
    padding-right: 1em !important;
    padding-left: 1em !important;
}

/* Enter your custom styles here */

.paddingLeftRight0_5 {
    padding-right: 1em;
    padding-left: 1em;
}

.sapUiTableVSb {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: auto;
    background-color: #ffffff;
    z-index: 0;
}

.paddingLR0_5 {
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.marginLeftRight1 {
    margin-left: 1em !important;
    margin-right: 1em !important;
}

.justifyFlex {
    justify-content: flex-start;
}

.textRed {
    color: #ff0000;
}

.textOrange.sapMText {
    color: orange;
}

.textGreen.sapMText {
    color: green;
}

/*tttttttt*/
.sapUiBody {
    font-family: 'Rubik';
}

.sapMInputBaseInner {
    font-family: 'Rubik';
}

.sapMText {
    font-family: 'Rubik';
}

.sapMLnk {
    font-family: 'Rubik';
}

.textRed {
    color: #ff0000;
}

.paddingRight1_7 {
    padding-right: 1.7em;
}

.top1rigth0_5 {
    padding-top: 1rem;
    padding-right: 0.5rem;
}

.sapMBtnContent {
    font-family: 'Rubik';
}

.sapMSFI {
    font-family: 'Rubik';
}

.sapMSFB {
    font-family: 'Rubik';
}

.sapMMessagePage>.sapMPage>section .sapMText,
.sapMMessagePage>.sapMPage>section .sapMLnk {
    font-family: 'Rubik';
}

.sapMTB-Transparent-CTX .sapMLabel {
    font-family: 'Rubik';
}

.sapMListTbl .sapMText,
.sapMListTbl .sapMLabel {
    font-size: 1rem;
}

.sapMMessagePage .sapMMessagePageMainText,
.sapMMessagePage .sapMMessagePageDescription {
    max-width: 100%;
}

.sapMListTbl .sapMText.myBlueText {
    color: blue;
}

.sapMObjStatus.myOrangeText {
    color: #E6600D;
}

.sapMPanel.myTotalAmount {
    background-color: #eff4f9 !important;
    border: 1px solid #dddddd !important;
}

.sapMObjStatusNone .sapMObjStatusIcon.myOrangeText {
    color: #E6600D;
}

.sapMHBox.myBGRColor {
    background-color: #f6f6f6;
}

.sapMPanel[data-myGrayListItem="1"] {
    background-color: #f6f6f6 !important;
}

.sapMHBox.myNestedListItem {
    background-color: #f6f6f6;
    border-bottom: 1px solid #e5e5e5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(229, 229, 229);
    outline: none !important;
}

.myButton.sapMBtn .sapMTB-Transparent-CTX {
    border-color: #418ac7 !important;
}

.myButton.sapMBtn span.sapMBtnInner {
    border-color: #418ac7 !important;
}

.hideMasterBtn .sapMSplitContainerMasterBtn {
    display: none;
}

.greyHeader2 {
    background-color: #f6f6f6 !important;
    border-bottom: 0.01rem solid #cccccc;
}

.greyHeader4 {
    background-color: #f6f6f6 !important;
}

.buttonOpenCloseMaster__ {
    background-color: #2a4f6c;
    width: 1.1em;
    height: 2.3em;
    border-radius: 0em 1em 1em 0em;
    outline: none !important;
    padding: 0em !important;
    margin-left: 0em;
}

.buttonOpenCloseMaster__2 {
    background-color: #2a4f6c;
    width: 1.1em;
    height: 2.3em;
    border-radius: 1em 0em 0em 1em;
    outline: none !important;
    padding: 0rem !important;
    margin-right: 0;
}

.colorWhite {
    color: #ffffff !important;
}

.top0_1 {
    top: 0.1em;
}

.colorBlack {
    color: #333333 !important;
    font-weight: bold;
}

.colorBlue {
    color: #003ca6;
}

.btnEllipse .sapMBtnInner {
    border-radius: 2em;
    border: 1px solid #ffffff !important;
}

.btnEllipse .sapMBtnInner:hover {
    border-radius: 2em;
    border: 1px solid #0270cf !important;
    background-color: #0270cf !important;
}

.btnEllipse .sapMBtnContent:hover {
    color: #ffffff !important;
}

.btnEllipseBlue .sapMBtnInner {
    border-radius: 2em;
    border: 1px solid #0270cf !important;
}

.padding0_3 {
    padding: 0.3em;
}

.padding0_5 {
    padding: 0.5em;
}

.padding0_8 {
    padding: 0.8em;
}

.padding1 {
    padding: 1em;
}

.paddingLeft0__3 {
    padding-left: 0.3em;
}

.paddingLeft2 {
    margin-left: 5rem;
}

.textBold {
    font-weight: bold;
}

.textRed {
    color: #ff0000;
}

.textBlue {
    color: #3d7ab7 !important;
}

.textRed {
    color: Red !important;
}

.textDarkBlue {
    color: #013BA6 !important;
}

.paddingBottom0_2 {
    padding-bottom: 0.2em;
}

.paddingTopBottom0_2 {
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}

.paddingTopBottom0_25 {
    padding-bottom: 0.25em;
    padding-top: 0.25em;
}

.paddingBottom0_3 {
    padding-bottom: 0.3em;
}

.paddingBottom0_5 {
    padding-bottom: 0.5em;
}

.paddingBottom0_7 {
    padding-bottom: 0.7em;
}

.paddingBottom1 {
    padding-bottom: 1em;
}

.paddingBottom1_5 {
    padding-bottom: 1.5em;
}

.text0_5 {
    font-size: 0.5rem;
}

.btnFontWeight600 .sapMBtnContent {
    font-weight: 600;
}

.btnFontWhite .sapMBtnContent {
    color: #ffffff !important;
}

.btnIconWhite .sapMBtnIcon {
    color: #ffffff;
}

.btnIconBlue .sapMBtnIcon {
    color: #3d7ab7;
}

.msgPageStyle .sapMMessagePageDescription {
    font-size: 1.2rem !important;
}

.msgPageStyle .sapMMessagePageMainText {
    font-size: 1.6rem !important;
    font-weight: bold !important;
}

.btnText1 .sapMBtnContent {
    font-size: 1rem;
}

.filterBtn .sapMBtnInner {
    height: 2.1em;
    width: 2.1em;
    background-color: #ffffff;
    border: 1px spaddingTop0_5olid #e3e3e3;
}

.borderGray {
    border: 1px solid #e3e3e3;
}

.borderDarkGrey {
    border: 1px solid #d2d2d2;
}

.borderTopBottomGray {
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

.borderBottomGray {
    border-bottom: 1px solid #d2d2d2;
}

.borderBottomLightGray {
    border-bottom: 1px solid #e5e5e5;
}

.borderTopGray {
    border-top: 1px solid #e3e3e3;
}

.filterBtn .sapMBtnIcon {
    color: #3d7ab7;
    font-size: 1.3rem;
    top: 0.1em;
}

.noPaddingBar .sapMBarRight,
.sapMBarPH {
    padding-right: 0em;
    padding-left: 0em;
}

.paddingLeft0_5 {
    padding-left: 0.5em;
}

.paddingLeft1 {
    padding-left: 1em;
}

.paddingLeft1_5 {
    padding-left: 1.5em;
}

.radioTextBold .sapMRbBLabel {
    font-weight: bold;
}

.radioText1_05 .sapMRbBLabel {
    font-size: 1.05rem;
}

.btnBgWhite .sapMBtnInner {
    background-color: #ffffff;
}

.paddingLeftRight0_3 {
    padding-right: 0.3em !important;
    padding-left: 0.3em !important;
}


.paddingLeftRight1_5 {
    padding-right: 1.5em !important;
    padding-left: 1.5em !important;
}

.paddingLeftRight2 {
    padding-right: 2em !important;
    padding-left: 2em !important;
}

.paddingRight0_3 {
    padding-right: 0.3em;
}

.paddingRight0_5 {
    padding-right: 0.5em;
}

.paddingRight0_7 {
    padding-right: 0.7em;
}

.paddingRight1 {
    padding-right: 1em;
}

.paddingRight1_4 {
    padding-right: 1.4em;
}

.paddingRight1_7 {
    padding-right: 1.7em;
}

.paddingRight0_2 {
    padding-right: 0.2em;
}

.paddingRight3_2 {
    padding-right: 3.2em;
    left: 1rem !important;
}

.paddingTopBottom0_3 {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.paddingTopBottom0_5 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.paddingTopBottom1 {
    padding-top: 1em;
    padding-bottom: 1em;
}

.paddingTopBottom0_8 {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.paddingTopBottom0_9 {
    padding-top: 0.9em;
    padding-bottom: 0.9em;
}

.bgWhite {
    background-color: #ffffff;
}

.bgOrange {
    background-color: #ffcdab;
}

.paddingTop0_1 {
    padding-top: 0.1em;
}

.paddingTop0_15 {
    padding-top: 0.15em;
}

.paddingTopBottom0_15 {
    padding-top: 0.15em;
    padding-bottom: 0.15em;
}

.paddingTop0_5 {
    padding-top: 0.5em;
}

.btnBgTransparent2 .sapMBtnInner {
    background-color: transparent !important;
    text-shadow: none;
    outline: none !important;
}

.btnBgTransparent .sapMBtnInner {
    background-color: transparent !important;
    text-shadow: none;
}

.btnBgTransparent .sapMBtnInner:hover {
    background-color: #0270cf !important;
    border-radius: 2em;
    border: 1px solid #0270cf !important;
}

.btnBgBlue .sapMBtnInner {
    background-color: #0270cf !important;
    text-shadow: none;
}

.paddingRight9 {
    padding-right: 9rem !important;
    /*padding-left : 0.5em !important;*/
}


.btnColorSizeBlue .sapMBtnContent {
    color: #0270cf;
    font-size: 1rem !important;
}

.btnColorSizeBlue .sapMBtnContent:hover {
    color: #ffffff !important;
    font-size: 1rem !important;
}

.btnBgRed .sapMBtnInner {
    background-color: #cc0000 !important;
    text-shadow: none;
}

.btnEllipseRed .sapMBtnInner {
    border-radius: 2em;
    border: 1px solid #cc0000 !important;
}

.btnColorSizeWhite .sapMBtnContent {
    color: #ffffff;
    font-size: 1rem !important;
}

.btnNoBorder .sapMBtnInner {
    border: none;
    outline: none !important;
}

.btnIconOrange .sapMBtnIcon {
    color: #e78c08;
    font-size: 1.1rem;
}

.btnPanelExpand .sapMBtnInner {
    border: none;
    outline: none !important;
    background-color: transparent !important;
    text-shadow: none;
}

.btnPanelExpand .sapMBtnIcon {
    font-size: 0.7rem;
    color: #0170cf;
    outline: none !important;
}

.btnPanelExpand .sapMBtnContent {
    color: #0170cf;
    font-size: 0.95rem;
    outline: none !important;
}

.btnColorSizeOrange .sapMBtnContent {
    color: #e78c08;
    font-size: 1rem !important;
}

.text1 {
    font-size: 1rem;
}

.text0_7 {
    font-size: 0.7rem;
}

.text1_1 {
    font-size: 1.1rem;
}

.text1_2 {
    font-size: 1.2rem;
}

.text1_3 {
    font-size: 1.3rem;
}

.text1_4 {
    font-size: 1.2rem;
    padding-left: 0.8rem;
}

.text1_5 {
    font-size: 1.5rem !important;
}

.text1_6 {
    font-size: 1.6rem !important;
}

.text1_7 {
    font-size: 1.1rem !important;
    padding-right: 0.5rem;
}

.text2 {
    font-size: 2rem !important;
}

.outlineNone {
    outline: none !important;
}

.searchFieldStyle .sapMSFF {
    border-radius: 2em;
    outline: none !important;
}
.width100child div:nth-child(1) {
    width: 100% !important;
}

.width100child_2 div:nth-child(2) {
    width: 100% !important;
}
.searchFieldStyle .sapMSFI {
    font-size: 1rem !important;
    /*padding-right: 0.7em;*/
    /*padding-left : 0.7em;*/
}

searchFieldStyle .sapMSFB {
    font-size: 1.7rem !important;
    width: 2em !important;
    height: 2em !important;
    line-height: 3.3rem;
    -webkit-text-stroke: 2px !important;
    color: #797979;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.searchFieldStyle .sapMSFR:not(.sapMSFNS) {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.paddingTop1 {
    padding-top: 1em;
}

.paddingTop3 {
    padding-top: 3em;
}

.marginTop1 {
    margin-top: 1em;
}

.marginBottom1 {
    margin-bottom: 1em;
}

.marginBottom0_4 {
    margin-bottom: 0.4em;
}

.marginBottom0_5 {
    margin-bottom: 0.5em;
}

.top1 {
    top: 1em;
}

.bottom1 {
    bottom: 1em;
}

.noPaddingRight .sapMBarLeft {
    padding-right: 0em;
    margin-right: 0em;
}

.sapMIBar .sapMBarChild {
    margin-right: 0em !important;
}

.bgLightBlue {
    background-color: #e9eff8;
}

.marginTop0_12 {
    margin-top: 0.12em;
}

.uploaderCircleBlue>form>div>div>div>div>button>span {
    border-radius: 2em;
    border: 1px solid #0270cf !important;
    outline: none !important;
    background: transparent !important;
}

.uploaderIconBlue>form>div>div>div>div>button>span>span {
    color: #0270cf !important;
    text-shadow: none !important;
    font-size: 1rem !important;
}

.pageHeaderTransparent .sapMIBar.sapMHeader-CTX {
    background-color: transparent !important;
}

.pageHeaderNoBorder .sapMPageHeader {
    box-shadow: none !important;
}

.sapMITBFilter .sapMITBText {
    font-size: 1.1rem;
    width: 8em;
}

.sapMITBTab {
    width: 8.5rem;
}

.sapMITBScrollContainer {
    background-color: #fafafa;
}

.sapMITH {
    background-color: #fafafa !important;
    outline: none !important;
}

.sapMITBFilterIcon {
    border: none;
    font-size: 1.7rem;
    outline: none !important;
}

.sapMITBSelected .sapMITBFilterDefault {
    background: transparent;
    color: #4982bb;
    -webkit-text-stroke: 0.4px #4982bb;
    outline: none !important;
}

.sapMITBFilterDefault {
    color: #666666;
    outline: none !important;
}

.colorOrange {
    color: #e78c08;
}

.sapMListTbl th {
    background-color: #e9eff8 !important;
}

.noBgTableHeader .sapMListTbl th {
    background-color: transparent !important;
}

.noPaddingRightHeader .sapMListTbl th {
    padding-right: 0em;
}

.sapMListTbl {
    border-spacing: 1px;
}

.sapMTBNewFlex {
    margin-bottom: 0.5em;
    border-bottom: none;
}

.checkBoxText1 .sapMLabel {
    font-size: 1rem;
}

.widthFitContent {
    width: fit-content !important;
}

.noPaneMarginRight .sapMPanel .sapMPanelWrappingDiv .sapMPanelHdr,
.sapMPanel .sapMPanelWrappingDivTb .sapMIBar.sapMTB {
    margin-right: 0em !important;
}

.sapMListTblCell {
    font-size: 1rem;
}

.tableCellValignMiddle .sapMListTblCell {
    vertical-align: middle;
}

.tableBgGray .sapMListTbl {
    background: #f6f6f6;
}

.bgGray {
    background-color: #f6f6f6;
}

.marginPanel {
    margin-right: -0.6em;
    /*margin-top   : -0.25em;*/
    /*margin-bottom: -0.25em;*/
    /*border-bottom: 1px solid #f6f6f6;*/
}

.noBorderBottomPanel .sapMPanel>.sapMPanelHdr,
.sapMPanelWrappingDiv,
.sapMPanelWrappingDivTb {
    /*border-bottom: none;*/
    border-bottom: 1px solid #f6f6f6;
}

.noBorderBottom {
    border-bottom: none;
}

.sapMLIBShowSeparator>td {
    border-top: none;
}

.noPaddingTblCell .sapMListTblCell {
    padding-top: 0em !important;
    padding-bottom: 0em !important;
}

.paddingCell .sapMListTblCell {
    padding: 0.15em 0.5em 0.15em 0.5em !important;
}

.paddingTopCell0_25 .sapMListTblCell {
    padding-top: 0.25em;
    padding-bottom: 0em !important;
}

.noMarginBottomToolbar .sapMTBNewFlex {
    /*margin-bottom: 0em !important;*/
}

.paddingPanels {
    argin-top: -0.3em;
    margin-bottom: -0.5em;
}

.tblCellBorderRight .sapMListTbl th {
    border-right: 1px solid #dddddd;
}

.sapMSltLabel,
{
font-weight: normal;
}

.btnCompactStyle .sapMBtnInner {
    height: 2rem;
}

.btnCompactStyle .sapMBtnContent {
    line-height: 1.9rem;
}

.btnCompactStyle2 .sapMBtnInner {
    height: 2.5rem;
}

.btnCompactStyle2 .sapMBtnContent {
    line-height: 2.4rem;
}

.left1_5 {
    left: 1.5em;
}

.left1_1 {
    left: 1.1em;
}

.height3_3 {
    height: 3.3em;
}

.marginRightMinus0_8 {
    margin-right: -0.8em;
}

.noPanelPadding .sapMPanelContent {
    padding: 0em;
    outline: none !important;
}

.panelContentBgGray .sapMPanelContent {
    background-color: #f6f6f6 !important;
    outline: none !important;
}

.panelContentMarginLeft0_3 .sapMPanelContent {
    margin-left: 0.3em !important;
}

.panelMarginTop0_2 .sapMPanelContent {
    margin-top: 0.2em;
}

.right3 {
    right: 3em !important;
}

.sapMSlt>.sapMSltLabel {
    font-weight: normal;
}

.noMarginBottomPanelHeader .sapMTBNewFlex {
    margin-bottom: 0em;
}

.marginRight24_1 {
    margin-right: 24.1em;
}

.marginLeft1_07 {
    margin-left: 1.07em;
}

.right4_6 {
    right: 4.6em;
}

.sapUiTableVSb {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    background-color: #ffffff !important;
    z-index: 0 !important;
}

.textBlue2 {
    color: #0854a0 !important;
}